.InstrumentalPanel {
   border-radius: 10px;
   border:  1px solid #586081;
   backdrop-filter: contrast( 90% );

   display: flex;
   flex-wrap: wrap;
   place-content: center;
   gap: 15px;
   padding: 15px;
}