.mapContainer { width: 100%; min-height: 500px; position: relative;}

.map {
   width: 100%;
   height: 100%;
   border: 1px solid #586081;
   border-radius: 10px;

   z-index: 0;
}

.positionCard {
   z-index: 10;
   position: absolute;
   top: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 150px;
   padding: 5px 20px;
   border-radius: 10px 0 10px 0;
   border: 1px solid #586081;
   background: #0F1E4B;
}