.panel {   
   border-radius: 10px;
   border: 1px solid #586081;
   backdrop-filter: contrast( 90% );
   display: flex;
   flex-direction: column;
   padding: 15px;
}

.frame {
   display: grid;
   grid-template-columns: repeat( auto-fill, 46% );
   justify-content: space-between;
}

.title { margin-bottom: 10px }

.item {
   border-bottom: 1px solid #586081;
   list-style: none;
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 50px;
}

.lastItem { border: none }

@media ( width < 560px ) {
   .frame { grid-template-columns: 1fr }
}